//Automatically applied global style files, generated at the ending of the CSS file, have a higher priority than the default style.

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

*
	font-family 'Roboto Slab', serif

html, body

	height 100%
	font-family 'Fira Sans', sans-serif



header.navbar
	background-color #ddd

header.navbar .links
	background-color transparent
