:root {
    /* Base colors */
    --neon-pink: hsla(315, 100%, 60%, 1);
    --electric-blue: hsla(240, 100%, 60%, 1);
  
    /* Light variants */
    --neon-pink-light: hsla(315, 100%, 75%, 1);
    --electric-blue-light: hsla(240, 100%, 75%, 1);
  
    /* Dark variants */
    --neon-pink-dark: hsla(315, 100%, 40%, 1);
    --electric-blue-dark: hsla(240, 100%, 40%, 1);
  }

@property --title-start-gradient {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(315, 100%, 60%, 1);
}

@property --title-end-gradient {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(240, 100%, 75%, 1);
}

@keyframes gradiate {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% 0
    }
}

.VPHero .heading .name {

  margin:0;
  width:500px;
  background: linear-gradient(to right, var(--title-start-gradient), var(--title-end-gradient), var(--title-start-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size:5rem;
  /* font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5rem;  */
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 250px 100%;
  animation: gradiate 5s linear infinite;


  /* text-shadow: 0 0 5px var(--neon-pink), 0 0 10px var(--electric-blue), 0 0 15px var(--neon-pink), 0 0 20px var(--electric-blue), 0 0 25px var(--neon-pink), 0 0 30px var(--electric-blue), 0 0 35px var(--neon-pink); */
}

