.VPLink.link:not(.VPNavBarMenuLink){
    margin:0;



    & span{
        font-size:0.6rem;
        font-style:italic;
        line-height:0;
    }

    & p{
        border-bottom:0.1rem solid transparent;
        line-height:1.2;
        transition: color 0.2s ease-in;
        position:relative;

    }

    & p::before{
        position: absolute;
        content: "";

        width:0;
        height:100%;
        border-bottom:0.1rem solid var(--vp-c-brand-1);
    }
    & p:hover::before{
        transition: width 0.2s ease-in-out;
        width:100%;
    }
}