//Automatically applied global style files, generated at the ending of the CSS file, have a higher priority than the default style.

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

*
	font-family 'Roboto Slab', serif

html, body

	height 100%
	font-family 'Fira Sans', sans-serif


$color1 = hsla(360, 0, 100%, 1)
$color2 = hsla(360, 0, 98%, 1)
$color3 = hsla(360, 0, 96%, 1)

#app .z-home
	background-color $color1
	background-image linear-gradient(30deg, $color2 12%, transparent 12.5%, transparent 87%, $color2 87.5%, $color2),
	linear-gradient(150deg, $color2 12%, transparent 12.5%, transparent 87%, $color2 87.5%, $color2),
	linear-gradient(30deg, $color2 12%, transparent 12.5%, transparent 87%, $color2 87.5%, $color2),
	linear-gradient(150deg, $color2 12%, transparent 12.5%, transparent 87%, $color2 87.5%, $color2),
	linear-gradient(60deg, $color3 25%, transparent 25.5%, transparent 75%, $color3 75%, $color3),
	linear-gradient(60deg, $color3 25%, transparent 25.5%, transparent 75%, $color3 75%, $color3)
	background-size 80px 140px;
	background-position 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px
	background-attachment fixed

$_color1 = hsla(360, 0, 100%, 1)
$_color2 = hsla(360, 0, 99.5%, 1)
$_color3 = hsla(360, 0, 99%, 1)

#app,body
	background-color $_color1
	background-image linear-gradient(30deg, $_color2 12%, transparent 12.5%, transparent 87%, $_color2 87.5%, $_color2),
	linear-gradient(150deg, $_color2 12%, transparent 12.5%, transparent 87%, $_color2 87.5%, $_color2),
	linear-gradient(30deg, $_color2 12%, transparent 12.5%, transparent 87%, $_color2 87.5%, $_color2),
	linear-gradient(150deg, $_color2 12%, transparent 12.5%, transparent 87%, $_color2 87.5%, $_color2),
	linear-gradient(60deg, $_color3 25%, transparent 25.5%, transparent 75%, $_color3 75%, $_color3),
	linear-gradient(60deg, $_color3 25%, transparent 25.5%, transparent 75%, $_color3 75%, $_color3)
	background-size 80px 140px;
	background-position 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px
	background-attachment fixed


header.navbar
	background-color: hsla(0, 0, 97%, 1);
	box-shadow: .1rem .1rem .2rem hsla(0, 0, 50%, .5);

header.navbar .links
	background-color transparent

.z-home .hero
	margin-top 25rem

.home .feature h2 
	font-style italic

.feature p
	white-space pre-wrap

.freature p::first-line
	text-align right

//.navbar .site-name
	//display none

.content:not(.custom) a:hover
	text-decoration: none;

span.badge.tip.top
	background-color hsla(0, 0, 39%, 1);

span.badge.tag.top
	background-color hsla(206, 100%, 29%, 1);

.content code
	background-color rgba(27,31,35,.1);